module "{{REGION}}" {
  source  = "./tester"
  providers = {
    aws.this = aws.{{REGION}}
  }

  bucket = aws_s3_bucket.this.id
  bucket_region = var.bucket_region
  datestamp = local.datestamp
  debug = var.debug
  hostname = var.hostname
  instance_profile = aws_iam_instance_profile.this.name
  instance_type = var.instance_type
  my_ip = var.debug ? "${chomp(data.http.my_ip[0].response_body)}/32" : null
  num_instances = var.num_instances
  page_to_test = var.page_to_test
  region = "{{REGION}}"
  test_version = var.test_version
  vpc_id = data.aws_vpc.default.id
}
